{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link
      rel="preload"
      as="style"
      href="{% static 'css/menu.css' %}"
      onload="this.rel = 'stylesheet'"
    />
{% endblock %}

{% block content %}
<h1>Menu</h1>
<nav class="category">
  <ul>
    {% for name in category %}
    <li><a href="{% url 'menu' %}?category={{ name.id }}">{{ name }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% for item in menu %}
<div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{% url 'menu_item' pk=item.pk %}">
          <img class="menu-image" src={{ item.image.url }} alt={{ item.title }} width="600" height="400">
        </a>
        <div class="menu-name">{{ item.title }}</div>
        <div class="menu-price">
            ${{ item.price }}
        </div>
    </div>
</div>
{% endfor %}
<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a class="active" href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">&raquo;</a>
</div>
{% endblock %}
