[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django = "*"
djangorestframework = "*"
mysqlclient = "*"
djoser = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-filter = "*"
pillow = "*"
django-redis = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.10"
